<main class="congrats-main">
    <h1>CONGRATULATIONS</h1>
    <p class="congrats"><strong>THE CAT WAS SHELTERED SUCCESSFULLY !</strong></p>
    <p class="congrats"><strong>THANK YOU FOR CARING</strong></p>
</main>